/*General*/
html
{   
max-height:560px;
max-width:980px;
}
body{
    background-color:white;
    color:lightblue;
}
p{
    background: rgba(0,0,0,0.7);
    font-size: 50px;
    text-align: center;
    font-family: sans-serif, arial;
    border: 5px #666 solid;
    
}
span{
    
}
.Title{
    text-align: center;
    font-size: 50px;
    font-family: sans-serif, arial;
    font-style: oblique;
}

div{
   font-size: 25px;
   font-family: sans-serif, arial;
}
.NavBar a:hover{
    color:#999;
    background-color:#000;
    height: 50px;
    width:980px;
    
}

.logo{
    position: relative;
    top:-280px;
    left:-50px;
    z-index:-1;
}


.footer{
    width:980px;
    height:30px;
    font-size: 14px;
    font-family: sans-serif, arial;
    position:relative;
    top:-500px;
    background: rgba(0,0,0,0.7);
    border: 5px #666 solid;
}

li{
    display:inline;
}

ul{
    background: rgba(0,0,0,0.7);
    color:lightblue;
    border: 5px #666 solid;
}

a{
    color:lightblue;
}

/*page specific*/
.overview{
    width:600px;
    height:300px;
    background: rgba(0,0,0,0.7);
    top:-250px;
    left:30px;
    position: relative;
    border: 5px #666 solid;
}
.HomePic{
    position: relative;
    left:660px;
    top:-560px;
    border: 5px #666 solid;
    height: 300px;
    width:300px;
}

